<% @songs.each do |song| %>
<h3 class="text-center"><%= song.artist %></h3>
<h4 class="text-center"><%= song.title %></h4>
<img class="center-block" width="560" src="<%= song.artist_img %>"/>
<a class="center-block"><%= song.song_url.html_safe %></a>

<div class="row text-center">
  <div class="col-sm-1 col-md-offset-5 col-md-2">
    <% favorite = Favorite.find_by(:user_id => current_user.id, :song_id => song.id) %>
    <% if favorite.present? %>
    <a href="/delete_favorite/<%= favorite.id %>" class="btn btn-danger" id="<%= song.id %>">nevermind</a>
    <% else %>
    <form action="/create_favorite" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input type="hidden" name="user_id" value="<%= current_user.id %>">
      <input type="hidden" name="song_id" value="<%= song.id %>">
      <button class="btn btn-success">yeah!</button>
      <a id="<%= song.id %>"></a>
    </form>
    <% end %>
  </div>
</div>
<% end %>
